---
import "@styles/global.css";
import Navbar from "@components/Navbar";
import { IconChat, IconInstagram, IconMusic } from "@components/Icons";
import FloatingButton from "@components/FloatingButton.astro";

const currentPath = Astro.url.pathname;
const isHome = currentPath === "/" ? true : false;

const {
  title,
  deskripsi,
  description = deskripsi ||
    "Ceria Hari Kita - Menyediakan beragam paket wisata domestik maupun internasional",
  image = "/logo.png",
  canonical = currentPath,
  keywords = "travel, open trip, tour, jepang, indonesia, ceria hari kita, cerita, teman cerita, perjalanan, wisata, open trip, private trip, cerita tour, bromo, malang",
} = Astro.props;

const pageTitle = currentPath === "/" ? "Home" : title;
const siteUrl = Astro.url.origin;
const fullCanonical = `${siteUrl}${canonical}`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{pageTitle || title} | Ceria Hari Kita</title>
    <meta name="title" content={`${pageTitle || title} | Ceria Hari Kita`} />
    <meta name="description" content={description} />
    <meta name="keywords" content={`${keywords}`} />
    <link rel="canonical" href={fullCanonical} />

    <meta name="theme-color" content="#ffffff" />
    <meta name="apple-mobile-web-app-title" content="Ceria Hari Kita" />
    <meta name="application-name" content="Ceria Hari Kita" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={fullCanonical} />
    <meta
      property="og:title"
      content={`${pageTitle || title} | Ceria Hari Kita`}
    />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={fullCanonical} />
    <meta
      property="twitter:title"
      content={`${pageTitle || title} | Ceria Hari Kita`}
    />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Tambahan Meta Tags -->
    <meta name="author" content="Ceria Hari Kita" />
    <meta name="robots" content="index, follow" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    <Navbar currentPath={currentPath} client:load />
    <div class:list={isHome ? "mt-0 pb-0" : "mt-16 pb-2"}></div>

    <!-- Main Content -->
    <main class="flex-grow">
      <slot />
    </main>

    <!-- Floating button -->
    <FloatingButton />

    <!-- Footer -->
    <footer
      class="mt-16 px-4 sm:px-6 lg:px-12 py-8 bg-deep-blue text-gray-200 border-t-8 border-white border-double"
    >
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 sm:gap-y-0 gap-y-8"
      >
        <div class="gap-y-2">
          <h3 class="text-lg font-bold underline mb-2">For Travellers</h3>
          <div class="text-sm space-y-2 font-medium list-none">
            <p><a href="/about">Why Us?</a></p>
            <p><a href="/faq">FAQ</a></p>
            <p><a href="/faq#tnc">Terms & Conditions</a></p>
            <p>
              <a
                href="https://www.instagram.com/ceriaharikita/"
                target="_blank"
              >
                Our Gallery
              </a>
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-y-2">
          <h3 class="text-lg font-bold underline mb-2">Our Office</h3>
          <div class="text-sm space-y-2 font-medium">
            <p>Perumahan Graha Indah Blok P/2 Tikung, Lamongan 62281</p>
            <p>Phone: +62 813 8491 3190</p>
            <p>Email: ceritatravelkita@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="mt-8 space-y-2">
        <p class="text-sm text-center font-medium">
          &copy; {new Date().getFullYear()} Ceria Hari Kita | All Rights Reserved.
        </p>
        <p class="text-xs text-center">made by Tim Media Ceria Hari Kita</p>
      </div>
      <div class="flex justify-center my-4 gap-x-4">
        <a
          href="https://www.instagram.com/ceriaharikita/"
          target="_blank"
          class="py-2 px-2 border-2 rounded-md shadow-[2px_2px_3px_rgba(153,161,175,0.75)]"
        >
          <IconInstagram />
        </a>
        <a
          href="https://www.tiktok.com/@ceriaharikita"
          target="_blank"
          class="py-2 px-2 border-2 rounded-md shadow-[2px_2px_3px_rgba(153,161,175,0.75)]"
        >
          <IconMusic />
        </a>
        <a
          href="https://wa.me/6281384913190/?text=Hi%20Ceria%20Hari%20Kita!%20Saya%20mau%20tanya%20tentang"
          target="_blank"
          class="py-2 px-2 border-2 rounded-md shadow-[2px_2px_3px_rgba(153,161,175,0.75)]"
        >
          <IconChat />
        </a>
      </div>
    </footer>
  </body>
</html>
